<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TODO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>
<body>
    <h1>Todo #{{.ID}}</h1>
    <div>{{printf "User %d" .UserID}}</div>
    <div>{{printf "%s (completed %t)" .Title .Completed" }}</div>
</body>
</html>